@import "_constants";

.alert {
  display: flow-root;
  border-radius: $border-radius;
  padding: 0 $padding-md;
  margin-bottom: $padding-md;
  &.type-info {
    background: $bg-info;
  }
  &.type-danger {
    background: $bg-danger;
  }
  &.type-success {
    background: $bg-success;
  }
}
