pre, code {
  font-family: $font-family-code;
  font-size: $font-size-code;
  background: var(--bg-inset);
  border-radius: $border-radius;
}

code {
  padding: 0.1em 0.2em;

  &.language-console > .hljs-console-line > .hljs-name:first-child:before {
    content: "halo( ";
    transition: opacity $transition-time;
    color: fuchsia;
  }

  &.language-console-h1a > .hljs-console-line > .hljs-name:first-child:before {
    content: "h1( ";
    transition: opacity $transition-time;
    color: fuchsia;
  }

  &.language-hsc:before {
    transition: opacity $transition-time;
    content: ".hsc";
    float: right;
    opacity: 0;
    color: var(--fg-faded);
    font-style: italic;
  }

  .placeholder {
    text-decoration: underline;
  }
}

pre:hover code.language-hsc:before {
  opacity: 0.5;
}

pre:hover code.language-console > .hljs-console-line > .hljs-name:first-child:before {
  opacity: 0.5;
}

pre:hover code.language-console-h1a > .hljs-console-line > .hljs-name:first-child:before {
  opacity: 0.5;
}


pre {
  display: flow-root;
  padding: var(--padding-sm);
  white-space: pre-wrap;
  border: 1px solid var(--border-color);
  code {
    padding: 0;
    border: none;
    background: none;
  }
}
