// $bg-dark: #23292f;
// $bg-dark: #051618;
// $bg-dark: #0e1d1f;
$bg-dark: #0f1718;
$bg-dark-mix: #0e1d1f;
$fg-dark:  mix($bg-dark-mix, #fff, 35%);
$fg-code-dark: #60c99d;
$fg-faded-dark: #5B858B;
$fg-strong-dark: mix($bg-dark-mix, #fff, 25%);
$bg-overlay-dark: lighten($bg-dark-mix, 5%);
$bg-inset-dark: rgba(#000, 0.2);
$bg-sidebar-dark: darken($bg-dark-mix, 5%);
$border-color-dark: lighten($bg-dark-mix, 10%);
$fg-link-dark: #16A3B6;

$bg-light: #eeeeeb;
$fg-light: #111;
$fg-code-light: #005934;
$fg-faded-light: mix($fg-light, $bg-light, 60%);
$fg-strong-light: darken($fg-light, 35%);
$bg-overlay-light: lighten($bg-light, 4%);
$bg-inset-light: rgba(#000, 0.05);
$bg-sidebar-light: darken($bg-light, 5%);
$border-color-light: darken($bg-light, 15%);
$fg-link-light: #0038bb;

$bg-info: rgba(105, 107, 255, 0.2);
$bg-danger: rgba(179, 63, 9, 0.3);
$bg-success: rgba(41, 217, 102, 0.2);
$bg-tag: rgba(163, 0, 255, 0.32);
$bg-tag-minor: rgba(163, 0, 255, 0.1);
$bg-tool: rgba(0, 100, 255, 0.14);
$bg-tool-minor: rgba(0, 100, 255, 0.07);
$bg-guide: rgba(0, 255, 0, 0.1);
$logo-color: #00cacb;

$border-radius: 6px;

$padding-xl-desktop: 64px;
$padding-lg-desktop: 32px;
$padding-md-desktop: 16px;
$padding-sm-desktop: 8px;

$padding-xl-mobile: 32px;
$padding-lg-mobile: 16px;
$padding-md-mobile: 8px;
$padding-sm-mobile: 4px;

$font-size: 11pt;
$font-size-article: 12pt;
$font-size-logo: 14pt;
$font-family: "Avenir", "Noto Sans", "Helvetica", sans-serif;
$font-family-headers: "ConvectionRegular", $font-family;
$font-family-code: "Fira Code", Menlo, Consolas, Monaco, monospace;
$font-size-code: 10pt;

$width-content: 50em;
$transition-time: 0.25s;
$transition-time-interactive: 0.1s;

@mixin mobile-xs {
  @media all and (max-width: 40em) {
    & {
      @content;
    }
  }
}

@mixin mobile {
  @media all and (max-width: 55em) {
    & {
      @content;
    }
  }
}

@mixin tablet {
  @media all and (max-width: 75em) {
    & {
      @content;
    }
  }
}
