$bg-header: #002a32;
$bg-page: #191d22;
$bg-overlay: #293037;
$bg-content: #23292f;
$bg-inset: #191d22;
$bg-info: #373457;
$bg-danger: #53332c;
$bg-success: #1c3e34;
$bg-tag: #0b352b;
$bg-tool: #171b4b;
$fg: #ccc;
$fg-faded: #888;
$fg-strong: #eee;
$fg-link: #4fbdff;
$logo-color: #00cacb;
$border-color: #39434d;
$border-color-header: #184851;
$border-radius: 4px;
$padding-containers: 20px;
$padding-flow: 16px;
$padding-containers-small: 10px;
$font-size: 12pt;
$font-size-logo: 14pt;
$font-family: "Avenir", "Noto Sans", "Helvetica", sans-serif;
$font-family-headers: "ConvectionRegular", $font-family;
$font-family-code: "Fira Code", Menlo, Consolas, Monaco, monospace;
$font-size-code: 10pt;
$width-content: 65em;
$transition-time: 0.25s;
