@import "_constants";

button {
  background: var(--bg-overlay);
  color: var(--fg);
  border-radius: $border-radius;
  border: 1px solid var(--border-color);;
  padding: var(--padding-sm) 1em;
  margin: var(--padding-sm) 0;
  box-shadow: 0px -2px 0px rgba(black, 0.1) inset;

  &.nobg {
    background: none;
    box-shadow: none;
  }

  &:hover {
    background: var(--bg);
    cursor: pointer;
  }
}

label, legend {
  font-weight: bold;
}

fieldset {
  border: 1px solid var(--border-color);;
  // background: var(--bg-inset);
  margin-bottom: var(--padding-sm);

  label {
    font-weight: normal;
  }
}

label {
  cursor: pointer;
}

progress, meter {
  width: 100%;
  background: var(--bg-inset);
  border: 1px solid var(--border-color);;
}

input {
  margin: var(--padding-sm) 0;
  display: block;
  border-radius: $border-radius;
  border: 1px solid var(--border-color);;
  background: var(--bg-overlay);
  padding: var(--padding-sm);
  font-size: $font-size;
  color: var(--fg);
  box-shadow: 0px 2px 2px rgba(black, 0.1) inset;

  &:focus {
    outline-offset: -2px;
    outline-width: 2px;
    box-shadow: 0px 0px var(--padding-sm) rgba($bg-info, 0.6) inset;
  }

  &:disabled {
    cursor: not-allowed;
    background: var(--bg);
    transition: background $transition-time;
    &:hover {
      background: var(--bg-overlay);
    }
  }
}

input[type="radio"] {
  display: inline-block;
  margin: 0;
  padding: 0;
  opacity: 0;
  & + label:before {
    content: '';
    display: inline-block;
    position: absolute;
    margin-left: -26px;
    padding: 8px;
    border: 2px solid var(--border-color);;
    border-radius: 2em;
  }
  &:checked + label:before {
    border: 2px solid var(--fg-strong);
    background: var(--fg-link);
  }
  &:checked + label {
    color: var(--fg-strong);
  }
}

input[type="checkbox"] {
  display: inline-block;
  margin: 0;
  padding: 0;
  opacity: 0;
  & + label:before {
    content: '';
    display: inline-block;
    position: absolute;
    margin-left: -26px;
    padding: 8px;
    border: 2px solid var(--border-color);;
  }
  &:checked + label:before {
    border: 2px solid var(--fg-strong);
    background: var(--fg-link);
  }
  &:checked + label {
    color: var(--fg-strong);
  }
}

.radio-options {
  display: flex;
  flex-direction: row;
  .radio-option {
    margin-right: 1em;
  }
}
