$bg-header: #002a32;
$bg-page: #191d22;
$bg-overlay: #293037;
$bg-content: #23292f;
$bg-inset: #191d22;
$bg-info: #373457;
$bg-danger: #53332c;
$bg-success: #1c3e34;
$bg-tag: #0b352b;
$bg-tool: #171b4b;
$fg: #ccc;
$fg-faded: #888;
$fg-strong: #eee;
$fg-link: #4fbdff;
$border-color: #39434d;
$border-color-header: #184851;
$border-radius: 4px;
$padding-containers: 20px;
$padding-flow: 16px;
$padding-containers-small: 10px;
$font-size: 12pt;
$font-size-logo: 14pt;
$font-family: "Helvetica", sans-serif;
$font-family-headers: "ConvectionRegular", "Helvetica", sans-serif;
$font-family-code: "Fira Code", monospace;
$font-size-code: 10pt;
$width-content: 60em;
$transition-time: 0.25s;

@font-face {
  font-family: ConvectionRegular;
  src: local("Convection"), url("/assets/ConvectionRegular.ttf");
  font-weight: normal;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  color: $fg;
  background: $bg-page;
  background-image: url("/assets/bg.jpg");
  background-repeat: repeat;
  line-height: 1.3;
  font-family: $font-family;
  font-size: $font-size;
}

* {
  box-sizing: border-box;
}

ul, ol {
  padding-left: 2em;
}

img {
  width: 100%;
  display: block;
}

a {
  color: $fg-link;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

a[href^="mailto:"]:after {
  content: "📧";
  vertical-align: super;
  font-size: 50%;
}

a[href^="/blam/tags/"]:after {
  content: "🏷️";
  vertical-align: super;
  font-size: 50%;
}

a[href^="/tools/"]:after {
  content: "🔧";
  vertical-align: super;
  font-size: 50%;
}

button {
  background: $bg-inset;
  color: $fg;
  border-radius: $border-radius;
  border: 1px solid $border-color;
  padding: $padding-containers-small 1em;

  &:hover {
    background: $bg-overlay;
    cursor: pointer;
  }
}

input {
  border-radius: $border-radius;
  border: 1px solid $border-color;
  background: $bg-inset;
  padding: $padding-containers-small;
  font-size: $font-size;
  color: $fg;

  &:focus {
    box-shadow: 0px 0px $padding-containers-small rgba($bg-info, 0.6) inset;
  }

  &:disabled {
    cursor: not-allowed;
    background: $bg-content;
    transition: background $transition-time;
    &:hover {
      background: $bg-overlay;
    }
  }
}

small {
  color: $fg-faded;
}

hr {
  border: none;
  border-bottom: 1px solid $border-color;
}

details summary {
  cursor: pointer;
}

details {
  margin: $padding-flow 0;
}

h1.page-title {
  font-size: 2em;
}

a.header-anchor {
  color: $fg-faded;
  opacity: 0;
  padding: 0 0.5em;
  transition: opacity $transition-time;
  &:hover {
    text-decoration: none;
  }
}

h1 {font-size: 1.50em;}
h2 {font-size: 1.33em;}
h3 {font-size: 1.17em;}
h4 {font-size: 1.00em;}
h5 {font-size: 0.83em;}
h6 {font-size: 0.75em;}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headers;
  color: $fg-strong;
  &:hover a.header-anchor {
    opacity: 1;
  }
}

h1 {
  border-bottom: 1px solid $border-color;
  padding-bottom: 10px;
  overflow: hidden;
}

strong {
  color: $fg-strong;
}

blockquote {
  display: flow-root;
  font-style: italic;
  background: $bg-inset;
  border-radius: $border-radius;
  padding: 0 $padding-flow;
  margin-left: 0;
}

pre, code {
  font-family: $font-family-code;
  font-size: $font-size-code;
  background: $bg-inset;
  border-radius: $border-radius;
}

code {
  padding: 0.2em;
}

kbd {
  font-family: $font-family-code;
  font-size: $font-size-code;
  padding: 0 0.5em;
  background: $bg-inset;
  border-radius: 4px;
  font-weight: bold;
  border: 1px solid $border-color;
  box-shadow: 0 2px 0 -1px $bg-overlay, 0 2px 0 $border-color;
}

pre {
  padding: 1em;
  overflow-x: auto;
  code {
    padding: 0;
    border: none;
    background: none;
  }
}

table {
  border-collapse: collapse;
  margin-bottom: $padding-flow;
  width: 100%;

  td, th {
    padding: $padding-containers-small;
    border: 1px solid $border-color;
    vertical-align: top;

    p:first-child {
      margin-top: 0;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
  th {
    text-align: left;
    background: $bg-overlay;
  }
}

.content-faded {
  color: $fg-faded;
}
.content-tool {
  background: $bg-tool;
}
.content-tool-minor {
  background: mix($bg-tool, $bg-content, 35%);
}
.content-tag {
  background: $bg-tag;
}
.content-tag-minor {
  background: mix($bg-tag, $bg-content, 35%);
}
.content-tag-minor.field-unused {
  background: $bg-content;
}

table.tag-struct {
  background: $bg-content;
  & {
    margin-bottom: 0;
  }
  .field-tagreflexive {
    background: $bg-overlay;
  }
  .tag-block-body {
    background: $bg-inset;
  }
}

.alert {
  display: flow-root;
  border-radius: $border-radius;
  padding: 0 $padding-containers;
  margin-bottom: $padding-containers;
  &.type-info {
    background: $bg-info;
  }
  &.type-danger {
    background: $bg-danger;
  }
}

.top-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: $padding-containers-small $padding-containers;
  background: $bg-header;
  justify-content: space-between;
  border-bottom: 1px solid $border-color-header;

  .c20-logo {
    font-family: $font-family-headers;
    background-image: url("/assets/librarian.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 48px;
    margin-right: 1em;
    line-height: 40px;
    font-size: $font-size-logo;
    text-decoration: none;
    font-weight: bold;
    color: $fg;
  }

  .c20-name-short {
    display: none;
  }
  .c20-name-long {
    display: inline-block;
  }

  #c20-search-mountpoint {
    flex-grow: 1;
    position: relative;
  }

  .clear-button {
    float: right;
    margin-top: $padding-flow;
    margin-left: $padding-flow;
  }

  .search-input {
    transition: width $transition-time;
    width: 60%;
    &:focus, &.nonempty {
      width: 100%;
      border-radius: $border-radius $border-radius 0 0;
    }
  }

  .search-results {
    width: 100%;
    position: absolute;
    background: $bg-overlay;
    border: 1px solid $border-color;
    border-top: none;
    border-radius: 0 0 $border-radius $border-radius;
    padding: 0 $padding-containers;
    display: flow-root;

    ul {
      list-style: none;
      margin: 0 0 $padding-containers 0;
      padding: 0;
    }

    li {
      border: 1px solid $border-color;
      border-top: none;
      padding: $padding-containers-small;
      padding-bottom: $padding-containers-small - 2px;

      &:first-child {
        border-top: 1px solid $border-color;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
      }

      &:last-child {
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }

      &.selected {
        background: $bg-info;
      }
    }
  }

  .c20-top-nav {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    a {
      margin-left: 1em;
    }
  }
}

.content-sidebar {
  grid-area: sidebar;
  padding: 0 $padding-containers;
  max-width: 20em;

  & > ul, ol {
    padding-left: 1em;
  }
}

.content-main {
  grid-area: main;
  display: flex;
  flex-direction: column;
}

.breadcrumbs {
  padding: $padding-containers;
  ol {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
    &:first-child::before {
      content: none;
    }
    &::before {
      content: '›';
      display: inline-block;
      font-weight: bold;
      font-size: 1rem;
      margin: 0 5px;
    }
  }
}

.content-article {
  max-width: $width-content;
  width: 100%;
  margin-right: auto;
  display: flow-root;
  padding: 0 $padding-containers;
  background: $bg-content;
  border: 1px solid $border-color;
  border-radius: $border-radius $border-radius 0 0;

  .metabox, figure, aside {
    float: right;
    clear: right;
    width: 35%;
    background: $bg-overlay;
    border: 1px solid $border-color;
    border-bottom-width: 0;
    border-radius: $border-radius;
    overflow: hidden;
    margin: 0 0 $padding-containers $padding-containers;

    figcaption {
      font-style: italic;
    }
    section, figcaption {
      display: flow-root;
      border-bottom: 1px solid $border-color;
      padding: 0 $padding-containers;
    }
    section.header {
      text-align: center;
    }
    section.img, img {
      padding: 0;
    }
  }
}

.content-footer {
  grid-area: footer;
  margin-bottom: $padding-containers;
  padding: 0 $padding-containers;
  display: flow-root;
  text-align: center;
  max-width: $width-content;
  border-top: 0;
  color: $fg-faded;

  a {
    color: $fg-faded;
  }
}

.content-layout {
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-template-columns: 20% 80%;
  grid-template-areas:
    "sidebar main"
    "sidebar footer";
}

//mobile view
@media all and (max-width: 45em) {
  .top-header {
    padding: $padding-containers-small;
  }

  .desktop-only {
    display: none;
  }

  .content-layout {
    grid-template-columns: 100%;
    grid-template-areas: "main" "sidebar" "footer";
  }

  .top-header {
    .c20-name-short {
      display: inline-block;
    }
    .c20-name-long {
      display: none;
    }

    .search-input {
      width: 100%;
    }
  }
}
