@import "_constants";

:root {
  --bg: #{$bg-dark};
  --fg: #{$fg-dark};
  --fg-faded: #{$fg-faded-dark};
  --fg-strong: #{$fg-strong-dark};
  --bg-overlay: #{$bg-overlay-dark};
  --bg-inset: #{$bg-inset-dark};
  --border-color: #{$border-color-dark};
  --fg-link: #{$fg-link-dark};
  --padding-xl: #{$padding-xl-desktop};
  --padding-lg: #{$padding-lg-desktop};
  --padding-md: #{$padding-md-desktop};
  --padding-sm: #{$padding-sm-desktop};
}

#toggle-theme {
  margin: 0;
}

html[data-theme="dark"] {
  #toggle-theme .dark {
    display: none;
  }
}

html[data-theme="light"] {
  --bg: #{$bg-light};
  --fg: #{$fg-light};
  --fg-faded: #{$fg-faded-light};
  --fg-strong: #{$fg-strong-light};
  --bg-overlay: #{$bg-overlay-light};
  --bg-inset: #{$bg-inset-light};
  --border-color: #{$border-color-light};
  --fg-link: #{$fg-link-light};

  #toggle-theme .light {
    display: none;
  }

  .c20-logo::before {
    filter: brightness(50%);
  }
}

//firefox can use scrollbar-color but it looks fine as-is
//webkit scrollbars are ugly:
*::-webkit-scrollbar {
  width: 14px;
}
*::-webkit-scrollbar-track {
  background: var(--bg-overlay);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--fg-faded);
  border-radius: 20px;
  border: 2px solid var(--bg-overlay);
}

@font-face {
  font-family: ConvectionRegular;
  src: local("Convection"), url("/assets/ConvectionRegular.ttf");
  font-weight: normal;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  color: var(--fg);
  background: var(--bg);
  font-family: $font-family;
  font-size: $font-size;
}

* {
  box-sizing: border-box;
}

@import "_article";
@import "_forms";
@import "_tables";
@import "../lib/components/Alert/Alert.scss";

.feather {
  width: 1em;
  height: 1em;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  vertical-align: sub;
}

.unit-converter {
  display: flex;
  flex-wrap: wrap;
  .inputs, .presets {
    flex-grow: 1;
    flex-basis: 50%;
    min-width: 15em;
  }
}

.content-faded {
  color: var(--fg-faded);
}
.content-tool {
  background: $bg-tool;
}
.content-tool-minor {
  background: $bg-tool-minor;
}
.content-tag {
  background: $bg-tag;
}
.content-tag-minor {
  background: $bg-tag-minor;
}
.content-tag-minor.field-unused {
  background: var(--bg);
}
.content-guide {
  background: $bg-guide;
}

.sidebar-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: var(--padding-sm) var(--padding-md);
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);;

  .c20-logo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/librarian.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .c20-logo {
    position: relative;
    font-family: $font-family-headers;
    padding-left: 48px;
    margin-right: 1em;
    line-height: 40px;
    font-size: $font-size-logo;
    text-decoration: none;
    font-weight: bold;
    color: var(--fg);
  }

  .c20-name-short {
    display: none;
  }
  .c20-name-long {
    display: inline-block;
  }

  #c20-search-mountpoint {
    flex-grow: 1;
    position: relative;
  }
}

.search-input {
  margin-top: var(--padding-md);
  transition: width $transition-time;
  width: 100%;

  &.nonempty {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
  }
}

.search-results {
  margin-top: 0;
  background: var(--bg);
  border-radius: 0 0 $border-radius $border-radius;
  border: 1px solid var(--border-color);
  border-top: none;
  display: flow-root;

  .results-header {
    padding: 0 var(--padding-sm);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .results-toggle-child-pages {
    padding: 0 var(--padding-sm);
    display: flex;
    align-items: center;
  }

  .link-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .null-result {
    padding: 0 var(--padding-sm);
  }

  .link-list li {
    border-top: 1px solid var(--border-color);

    &.selected {
      background: $bg-info;
    }

    a {
      display: block;
      padding: var(--padding-sm);
      text-decoration: none;
      position: relative;

      &:hover {
        background: var(--bg-overlay);
      }

      .path-prefix {
        color: var(--fg-faded);
      }

      kbd {
        margin-right: var(--padding-sm);
        position: absolute;
        right: 0;
      }
    }
  }
}

.page-sidebar {
  grid-area: sidebar;
  background: var(--bg-inset);

  .sidebar-inner {
    overflow-y: scroll;
    position: sticky;
    top: 0;
    height: 100vh;
    background: linear-gradient(0deg, rgba(black, 0.25), var(--bg-inset) 2.5%) fixed no-repeat;
  }

  .sidebar-nav {
    padding: 0 var(--padding-md);
  }

  .sidebar-toc {
    margin: var(--padding-md) 0;
    padding: 0 var(--padding-md);
    background: var(--bg);
    border-radius: $border-radius;
    border: 1px solid var(--border-color);
  }
}

.page-content-main {
  padding: 0 var(--padding-lg);
  grid-area: main;
  display: flex;
  flex-direction: column;
}

.page-title {
  border-bottom: 1px solid var(--border-color);;
  margin-bottom: var(--padding-md);

  .title-line {
    display: flex;
    align-content: space-between;
    align-items: center;

    h1 {
      margin: 0;
      padding: 0;
      font-size: 2.2em;
      border-bottom: none;
      flex-grow: 1;
    }

    .title-extra {
      display: flex;
      align-content: space-between;
      align-items: center;
      color: var(--fg-faded);

      a {
        color: var(--fg-faded);
        text-decoration: underline;
      }

      & > * {
        padding-left: var(--padding-md);
      }
    }

    .space-image {
      display: inline-block;
      height: var(--padding-xl);
      border: 1px solid var(--border-color);
      opacity: 0.5;
      transition: opacity $transition-time;

      &:hover {
        opacity: 1.0;
      }
    }
  }

  .breadcrumbs {
    margin: var(--padding-md) 0;

    ol {
      list-style: none;
      display: block;
      margin: 0;
      padding: 0;
    }
    li {
      display: inline-block;
      &::after {
        content: '›';
        display: inline-block;
        font-weight: bold;
        font-size: 1rem;
        margin: 0 5px;
      }
    }
  }
}

.content-article {
  max-width: $width-content;
  width: 100%;
  display: flow-root;

  .metabox, figure, aside {
    min-width: 15em;
    float: right;
    clear: right;
    width: 30%;
    background: var(--bg-overlay);
    border: 1px solid var(--border-color);;
    border-bottom-width: 0;
    border-radius: $border-radius;
    overflow: hidden;
    margin: 0 0 var(--padding-md) var(--padding-md);

    figcaption {
      font-style: italic;
    }
    section, figcaption {
      display: flow-root;
      border-bottom: 1px solid var(--border-color);;
      padding: 0 var(--padding-md);
    }
    section.header {
      text-align: center;
    }
    section.img, img {
      padding: 0;
    }
  }

  figure.inline {
    float: none;
    clear: none;
    width: auto;
  }
}

.content-footer {
  grid-area: footer;
  margin-bottom: var(--padding-md);
  padding: 0 var(--padding-md);
  display: flow-root;
  text-align: center;
  max-width: $width-content;
  border-top: 0;
  color: var(--fg-faded);

  a {
    color: var(--fg-faded);
    text-decoration: underline;
  }
}

.page-layout {
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-template-columns: 24em auto;
  grid-template-areas:
    "sidebar main"
    "sidebar footer";
}

//tablet view
@media all and (max-width: 85em) {
  :root {
    --padding-xl: #{$padding-xl-mobile};
    --padding-lg: #{$padding-lg-mobile};
    --padding-md: #{$padding-md-mobile};
    --padding-sm: #{$padding-sm-mobile};
  }

  .page-layout {
    grid-template-columns: 30% auto;
  }
  .sidebar-header {
    .c20-name-short {
      display: inline-block;
    }
    .c20-name-long {
      display: none;
    }
  }
}

//mobile view
@media all and (max-width: 55em) {
  .sidebar-header {
    .c20-name-short {
      display: none;
    }
    .c20-name-long {
      display: inline-block;
    }
  }

  .page-content-main {
    padding: 0 var(--padding-md);
  }

  .desktop-only {
    display: none;
  }

  .page-layout {
    grid-template-columns: 100%;
    grid-template-areas:
      "sidebar"
      "main"
      "footer";
  }

  .page-sidebar {
    // position: sticky;
    // top: 0;
    border-bottom: 1px solid var(--border-color);
  }

  .page-sidebar .sidebar-inner {
    overflow-y: auto;
    position: inherit;
    height: auto;
    background: none;
  }

  .content-article {
    .metabox, figure, aside {
      width: auto;
      float: none;
      margin-left: 0;
      margin-right: 0;
    }
  }
}
