@import "_constants";

@font-face {
  font-family: ConvectionRegular;
  src: local("Convection"), url("/assets/ConvectionRegular.ttf");
  font-weight: normal;
}

:root {
  --bg: #{$bg-dark};
  --fg: #{$fg-dark};
  --fg-code: #{$fg-code-dark};
  --fg-faded: #{$fg-faded-dark};
  --fg-strong: #{$fg-strong-dark};
  --bg-overlay: #{$bg-overlay-dark};
  --bg-inset: #{$bg-inset-dark};
  --bg-sidebar: #{$bg-inset-dark};
  --border-color: #{$border-color-dark};
  --fg-link: #{$fg-link-dark};
  --padding-xl: #{$padding-xl-desktop};
  --padding-lg: #{$padding-lg-desktop};
  --padding-md: #{$padding-md-desktop};
  --padding-sm: #{$padding-sm-desktop};
}

html[data-theme="light"] {
  --bg: #{$bg-light};
  --fg: #{$fg-light};
  --fg-code: #{$fg-code-light};
  --fg-faded: #{$fg-faded-light};
  --fg-strong: #{$fg-strong-light};
  --bg-overlay: #{$bg-overlay-light};
  --bg-inset: #{$bg-inset-light};
  --bg-sidebar: #{$bg-inset-light};
  --border-color: #{$border-color-light};
  --fg-link: #{$fg-link-light};

  .c20-logo::before {
    filter: brightness(0%);
  }
}

@import "_global";
@import "_forms";
@import "_tables";
@import "_utility";
@import "../lib/components/Alert/Alert.scss";
@import "../lib/components/Tabs/Tabs.scss";
@import "../lib/components/Expander/Expander.scss";
@import "../lib/components/Breadcrumbs/Breadcrumbs.scss";
@import "../lib/components/ArticleMain/ArticleMain.scss";
@import "../lib/components/ArticleBody/ArticleBody.scss";
@import "../lib/components/ArticleFooter/ArticleFooter.scss";
@import "../lib/components/TableOfContents/TableOfContents.scss";
@import "../lib/components/UnitConverter/UnitConverter.scss";
@import "../lib/components/Icon/Icon.scss";
@import "../lib/components/Search/Search.scss";
@import "../lib/components/CodeBlock/CodeBlock.scss";
@import "../lib/components/PageWrapper/PageWrapper.scss";
